:root {
    --bg-main: #f8fafc;
    --bg-card: #ffff;
    --bg-sidebar: #f1f5f9;
    --text-primary: #1e293b;
    --text-secondary: #475569;
    --text-muted: #94a3b8;
    --accent: #4f46e5;
    --accent-light: #eef2ff;
    --dark-header: #0f172a;
    --border-color: #e2e8f0;
    --shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 /0.1);
}

* {
    margin: 0;
    padding: 0;
}